<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="sprintfixProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="location" value="classpath:sprintfix.properties" />
	</bean>

	<bean id="sprintfixDbUnitDataSetHandler" class="com.interzonedev.sprintfix.dataset.dbunit.DbUnitDataSetHandler" />

	<bean id="sprintfixDbUnitDataSetTester" class="com.interzonedev.sprintfix.dataset.dbunit.DbUnitDataSetTester" />

	<bean id="sprintfixMongoDataSetHandler" class="com.interzonedev.sprintfix.dataset.mongo.MongoDataSetHandler" />

	<bean id="sprintfixMongoDataSetTester" class="com.interzonedev.sprintfix.dataset.mongo.MongoDataSetTester" />
</beans>
